/* =============================================================================
 * Template/index.css
 *
 * ------------------------------------------------------------
 * Copyright 2012 Exacloud, Inc.
 * http://www.exacloud.cn/
 * =========================================================================== */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#l2 {
    position: relative;
    width: 100%;
    z-index: -2;
}

#carousel {
    position: absolute;
    z-index: -1;
}

.carousel_img {
    width: 930px;
    height: 516px;
}

.btn {
    position: absolute;
    cursor: pointer;
}

#popup {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal a.close-modal {
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
}

#brand {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
